[submodule "syftbox"]
	path = syftbox
	url = https://github.com/OpenMined/syftbox
[submodule "syftbox-ui"]
	path = syftbox-ui
	url = https://github.com/OpenMined/SyftUI
[submodule "syftbox-flower"]
	path = syftbox-flower
	url = https://github.com/OpenMined/syft-flwr
[submodule "sdks/python"]
	path = sdks/python
	url = https://github.com/OpenMined/syft-extras
[submodule "apps/llm-router"]
	path = apps/llm-router
	url = https://github.com/OpenMined/syft-llm-router
[submodule "apps/rds"]
	path = apps/rds
	url = https://github.com/OpenMined/rds
